*
{
font-family:sans-serif;	
font-size: 20px;
color: #444444;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, 
html,
ul
{
	padding: 0px;
	margin: 0px;
}

body {

	width: : 100%;
    background: #FFFFFF;
}
